*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: antiquewhite;
}

main {
    display: flex;
    flex-wrap: wrap;
  
  }

.header{
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #11222a;
    color: antiquewhite;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    background-color: gray;
}

.ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

.li {
    display: inline;
    font-size: 30px;
    list-style-type: none;
    padding-inline: 35px;
    text-decoration: underline;
      
}

.amenu {
    color: antiquewhite;
    text-decoration: none;
}

.container {
    position: absolute;
    text-align: center;
    color: rgb(23, 9, 72);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    padding-bottom: 80px;
}

.bottom-right {
    position: absolute;
    bottom: 100px;
    right: 30px;
    font-size: 70px;
}

.imagen{
    width: 100%;
    height: 350px;
}


.vl{
    margin-top: 380px;
    border-right: 6px solid #11222a;
    height: 220px;
    position: absolute;
    left: 6%;
    width: 200px;
}

.navi {
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #11222a;
    font-size: 40px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navi h2{
    text-align: right;
}

p{
    position: absoluta;
    margin-top: 380px;
    margin-left: 20%;
    width: 70%;
    color: #11222a;
    font-size: 30px;
}


.works{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 380px;
    margin-top: 300px;
    width: 60%;
}

.card {
    padding: 10px;
    text-align: right;
    margin-top: 0px; 
    flex-wrap: wrap;    
}

.vl#mywork{
    height: 800px;
    margin-top: 80px;
    
}

.vl#contactme{
    height: 300px;
    margin-top: 80px;
}

.navi#myjob{
    margin-top: 0px;
}

.navi#ajus{
    margin-left: -40px;
}


.card:first-child{
    height:20em;
    max-width:auto;
    width:100%;
    flex: 0 0 200%;
    background-image: url(../images/imagen-1.jfif);
    background-repeat:no-repeat ;
    background-size:cover;
    color:white;
    margin-top: -200px;
}

.card img{
    display:none;
}

.card:nth-child(2){
    height:20em;
    max-width:auto;
    background-image: url(../images/imagen-2.jfif);
    background-repeat:no-repeat ;
    background-size:cover;
    color:white;
    margin-top: 0px;
}

.card:nth-child(3){
    height:20em;
    max-width:auto;
    background-image: url(../images/imagen-3.jfif);
    background-repeat:no-repeat ;
    background-size:cover;
    color:white;
}

.card:not(:first-child){
    width:80%;
    flex: 0 0 90%;
}

.card{
    margin:1em;
}




#mar{
    margin-top: 800px;
}

.ul#datos{
    margin-top: 100px;
    margin-left: 300px;
}








