*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: antiquewhite;
}

main {
    display: flex;
    flex-wrap: wrap;
  
  }

.header{
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #11222a;
    color: antiquewhite;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
}

.ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}

.li {
    display: inline;
    font-size: 30px;
    list-style-type: none;
    padding-inline: 35px;
    text-decoration: underline;
      
}

.amenu {
    color: antiquewhite;
    text-decoration: none;
}

.container {
    position: absolute;
    text-align: center;
    color: rgb(23, 9, 72);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    padding-bottom: 80px;
}

.bottom-right {
    position: absolute;
    bottom: 100px;
    right: 30px;
    font-size: 70px;
}

.imagen{
    width: 100%;
    height: 350px;
}


.vl{
    margin-top: 380px;
    border-right: 6px solid #11222a;
    height: 220px;
    position: absolute;
    left: 6%;
    width: 200px;
}

.navi {
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #11222a;
    font-size: 40px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navi h2{
    text-align: right;
}

p{
    position: absoluta;
    margin-top: 380px;
    margin-left: 20%;
    width: 60%;
    color: #11222a;
    font-size: 30px;
   
}



.vlw{
    padding-top: 20px;
    border-right: 6px solid #11222a;
    height: 2000px;
    position: absolute;
    left: 6%;
    width: 200px;
    top: 10;
}

.imgsec{
    margin-top: 80px;
}



.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: right;
    margin-top: 0px; 
    flex-wrap: wrap; 
  }

.card h3{
    padding: 20px;
    color: antiquewhite;
    position: relative;
    bottom: 150px;
    right: 1300px;
    font-size: 40px;
}

.card h5{
    padding: 20px;
    color: antiquewhite;
    position: relative;
    bottom: 180px;
    right: 1300px;
    font-size: 20px;
}

.card img {
    margin-top: 80px;
    width: 82%;
    height: 600px;
    min-width: 1500px;
  }

  .pot{
    flex: 1 0 0;
    padding: 10px;
    text-align: right;
    position: relative;
    min-width: 800px;
    height: 900px;
    margin-top: -200px;
    margin-right: 10px;
   
  }

  .pot img{
    width: 82%;
    height: 600px;
    min-width: 500px;
    justify-content: space-evenly;
  }




  /* .carda {
    flex: 1 0 0;
    padding: 10px;
    text-align: right;
    margin-top: 0px;
     
  }

.carda h3{
    padding: 20px;
    color: red;
    position: relative;
    bottom: 150px;
    right: 1300px;
    font-size: 40px;
}

.carda h5{
    padding: 20px;
    color: red;
    position: relative;
    bottom: 180px;
    right: 1300px;
    font-size: 20px;
}

.carda img {
    position: relative;
    width: 82%;
    height: 400px;
    min-width: 800px;
  } */


